.navbar-brand {
    height: 45px;
    padding: 15px 15px;
}

.navbar-brand>img {
    margin-top: -8px;
}
.navbar-toggle {
    float: left;
}

.navbar {
    min-height: 45px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #3b4c22;
    font-size: 12px;
    padding: 15px 15px;
}

.jumbotron {
    margin-top: 30px;
}

i.fa {
    padding-right: 5px;
}